@model Task4_13.Models.Computer

@{
    ViewBag.Title = "New model";
}
<h2>Новая модель</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        @Html.ValidationSummary(true)
        <div>
            @Html.LabelFor(model => model.Name)
            <div>
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div>
            @Html.LabelFor(model => model.Year)
            <div>
                @Html.EditorFor(model => model.Year)
                @Html.ValidationMessageFor(model => model.Year)
            </div>
        </div>

        <div>
            <input type="submit" value="Добавить" />
        </div>
    </div>
}
<div>
    @Html.ActionLink("Return to list", "Index")
</div>
